{% extends "base.html" %}

{% block metas %}
{{ super() }}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block title %}直播通{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>{{ current_user.username }}的关注列表：</h3>
    <h5 class="text-info">提示：您最多可关注12个主播</h5>
    <br />
        <div class="row">
            <div class="col-md-10">
                {% if anchors %}    
                    <table class="table table-hover">
    		                <tbody>
                            {% for anchor in anchors %}
                                {% if anchor.is_live %}
                                    <tr class="text-center info">
                                {% else %}
                                    <tr class="text-center">
                                        {% endif %}
                                        <td>{{ anchor.tv.name }}</td>
                                        <td>{{ anchor.name }}</td>
                                        <td>{% if anchor.is_live %}正在直播{% else %}休息中{% endif %}</td>
                                        <td><a href="{{ anchor.tv.base_url }}{{ anchor.room }}" target="_black" class="btn btn-info btn-xs active" role="button">到ta的直播间>>></a></td>
                                        <td><a href="{{ url_for('main.unfollow', name=anchor.name) }}" class="btn btn-danger btn-xs active" role="button">取消关注</a><td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>关注列表空空如也，快搜索或添加主播吧！</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                {% if current_user.is_limit() %}
                <a href="{{ url_for('main.add_anchor') }}" class="btn btn-primary btn-lg active btn-sm" role="button">手动添加主播</a>
                {% else %}
                <a href="{{ url_for('main.add_anchor') }}" class="btn btn-primary btn-lg disabled btn-sm" role="button">添加主播</a>
                {% endif %}
                <a href="{{ url_for('main.set_remind') }}" class="btn btn-default btn-lg active btn-sm" role="button">邮箱提醒{% if current_user.is_remind %}(已开启){% else %}(未开启){% endif %}</a>
            </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}