{% extends "base.html" %}

{% block title %}直播通 - 欢迎{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
  footer{
  position: absolute;
  bottom: 0;
  width: auto;
  /* Set the fixed height of the footer here */
  height: 40px;
  <!--background-color: #f5f5f5;-->
  }
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>欢迎来到直播通</h1>
</div>

<div class="jumbotron">
  <h1>给你不一样的直播体验！</h1>
  <br/>
  <p><span class="glyphicon glyphicon-hand-right"></span>  跨平台主播实时关注</p>
<p><span class="glyphicon glyphicon-hand-right"></span>  主播上线邮箱提醒</p>
  <p><span class="glyphicon glyphicon-hand-right"></span>  斗鱼，熊猫，全民，虎牙，龙珠，战旗六大主流直播</p>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">  登录  </a>
<a class="btn btn-default btn-lg" href="{{ url_for('auth.register') }}" role="button">  注册  </a></p>
</div>

<footer class="footer">

        <p class="text-muted">
            <span id="busuanzi_container_site_pv">
                <strong>本站总访问量</strong><span id="busuanzi_value_site_pv"></span>次
            </span>
        </p>

</footer>


{% endblock %}

{% block scripts %}
{{ super() }}
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}
